{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
    <h1>Hier staan al onze boeken:</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titel</th>
                <th scope="col">Auteur</th>
                <th scope="col">ISBN</th>
                <th scope="col">Bewerken</th>
                <th scope="col">Verwijderen</th>
            </tr>
        </thead>
        {% for b in books %}
            <tr>
                <td> {{ b.title }} </td>
                <td> {{ b.author.name }}</td>
                <td> {{ b.isbn }} </td>

                <td>
                    <form action="/book/update/{{ b.id }}">

                        <button type="submit" class="btn btn-warning btn-sm">Bewerken</button>

                    </form>
                </td>


                <td>
                    <form method="post" action="/book/delete/{{ b.id }}">

                        <button type="submit" class="btn btn-danger btn-sm">Verwijder</button>

                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}